<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Riot API Challenge - AP Changes Impact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="MyApp" ng-controller="Objets">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">API_CI</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#item_value">Changes on Item value</a></li>
                <li><a href="#item_pop">Changes on Item popularity</a></li>
                <li class="divider"></li>
                <li><a href="#item_AP">See AP Items</a></li>
                <li><a href="#champions">See Mage Champions</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        <h1>Riot API Challenge</h1>
    </div>
    <div id="item_value" class="container">
      <h3 >What change on AP items value ?</h3>
      <div class="col-md-6">5.11</div>
      <div class="col-md-6">5.13</div>
    </div>
     <div id="item_pop" class="container">
      <h3 >What change on AP items popularity ?</h3>
       <div class="col-md-6">5.11</div>
      <div class="col-md-6">5.13</div>
    </div>
    
    <div id="item_AP" class="container">
      <h3 >Choose an Item</h3>
      <input ng-model="Search"> 
<!--      {{objet.data.id}}-->
    <div ng-repeat='obj in objet'>
         {{obj.name}}
      </div>
      
    </div>
    <div id="champions" class="container">
      <h3 >Choose a AP champion</h3>
      <div></div>
      
    </div>


    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/vendor/video.js"></script>
    <script src="js/flat-ui.js"></script>
  
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
